# Entorno virtual
v_env/
env/
venv/

# Secretos y Configuración (¡FUNDAMENTAL!)
.env

# Base de datos local
db.sqlite3

# Archivos temporales de Python
__pycache__/
*.pyc

# Carpetas de VS Code u otros editores
.vscode/
.idea/